$primary-color: #3f51b5 !important;
$primary-color-light: #3f47ff !important;
$primary-color-dack: #0000ba !important;
$secondary-color: #ff9e80 !important;
$secondary-color-light: #ffd0b0 !important;
$secondary-color-dack: #c96f53 !important;

// $success-color: color("green", "base") !default;
// $error-color: color("red", "base") !default;
// $link-color: color("light-blue", "darken-1") !default;