@import '../../../../App.scss';

.container {
    margin-top: 8vh;
    max-width: 600px;
}

.card-panel {
    background-color: rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}
label {
    color: #fff !important;
    // filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.9));
    letter-spacing: 1px;
    &.active {
        color: $secondary-color;
    }
}

.input-field{
    i{
        color: $primary-color-dack;
        &.active {
            color: $secondary-color;
        }
    }
} 

.btn {
    background-color: $secondary-color;
    color: #000;
}

input {
    color: white;
    &:focus {
        border-bottom: 1px solid $secondary-color;
    }
}