@import '../../App.scss';

.auth-section {
    height: 100%;
    background-image: url('./connection.jpg');
    background-size: cover;
    background-position: center;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
     }
}

.container {
    margin-top: 8vh;
    max-width: 600px;
    
}

.card-panel {
    background-color: rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}
label {
    color: #fff !important;
    // filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.9));
    letter-spacing: 1px;
    &.active {
        color: $secondary-color;
    }
}

.input-field{
    i{
        color: $primary-color-dack;
        &.help-icon {
            right: -1rem;
            color: $secondary-color;
        }
        &.active {
            color: $secondary-color;
        }
    }
} 


.btn {
    background-color: $secondary-color;
    color: #000;
    &--disabled {
        // background-color: $primary-color-dack;
        // color: #fff;
        opacity: 0.2;
        filter: blur(1px);
    }
}

input {
    color: white;
    &:focus:not(.valid) {
        border-bottom: 1px solid $secondary-color;
    }
}

.help-message {
    max-width: 600px;
    margin: 0 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    backdrop-filter: blur(5px);
    font-size: 1rem;
    @media screen and (min-width : 600px) {
        margin: auto;
    }
}

.help-icon {
    color: $secondary-color;
    cursor: pointer;
    &--disabled {
        cursor: none;
    }
    &:hover {
        transform: scale(1.2);
        transition: 300ms ease-in;
    }
}

